h1{
  color: lightblue;
  text-align: center;
}
body{
  background-image: url("field.jpeg"); <!-- image is from free soccer field photos from pexels.com. I picked jpeg because it is a good image for a background that does not support transparency-->
}
p {
  color: white;
}
